.products-list{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.products-list li{
    width:300px;
    padding:10px;
    list-style: none;
    text-align: center;
    background-color: white;
    margin-bottom: 10px; 
    
}

